@import './src/assets/styles/component_imports';

.card {
  .card-content {
    text-align: center;
    position: relative;
  }

  .card-action {
    white-space: nowrap;
    clear: both;
    padding-left: 10px;
    padding-right: 10px;

    a.action-button {
      border: 1px solid $medium-gray;
      transition: all 100ms ease;
      color: $medium-gray;
      border-radius: 50%;
      text-align: center;
      margin-right: 5px;
      font-size: 18px;
      line-height: 0;
      padding: 9px;
      height: 35px;
      width: 35px;
      float: left;
      position: relative;
      
      @media #{$large-and-up} {
        font-size: 21px;
        padding: 10px;
        height: 42px;
        width: 42px;
      }

      .link-title {
        position: absolute;
        background-color: black;
        color: $medium-gray;
        line-height: normal;
        text-transform: none;
        padding: 3px 10px;
        border-radius: 3px;
        font-size: 14px;
        bottom: 120%;
        left: 50%;
        transform: translateX(-50%) translateY(5px);
        pointer-events: none;
        opacity: 0;
        transition: opacity 300ms ease, transform 300ms ease;

        &:after {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          transform: rotate(45deg) translateX(-50%);
          bottom: -5px;
          left: 50%;
          z-index: -1;
          background: black;
        }
      }
      
      &:hover {
        border-color: $dark-gray;
        color: $dark-gray;

        .link-title {
          transform: translateX(-50%) translateY(0);
          opacity: 1;
        }
      }
    }
    .badge {
      margin-top: 10px;
    }
  }

  .user-avatar {
    border: 1px solid $light-gray;
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }

  .card-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: $dark-gray;
    font-size: 20px;
    margin-bottom: 0;
    line-height: 1.1em;
  }

  .card-subtitle {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 10px;
    a {
      text-decoration: underline;
      font-weight: normal;
      color: inherit;
    }
  }

  .details {
    white-space: nowrap;
    text-align: center;
    color: $dark-gray;
    margin-left: -25px;
    margin-right: -25px;

    .details-item {
      white-space: nowrap;
      display: inline-block;
      padding: 5px 15px;

      .material-icons {
        transform: translateY(5px);
        opacity: 0.3;
      }
    }
  }

  .card-reveal {
    .icon-close {
      position: absolute;
      right: 10px;
      top: 10px;
    }
    .description {
      color: $dark-gray;
      font-size: 13px;
    }
    .chip {
      font-size: 11px;
      float: left;
    }
    .details {
      padding-bottom: 5px;
      background: #333;
      position: absolute;
      white-space: normal;
      margin-right: 0;
      margin-left: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  // box shaddow effect
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  position: relative;       
  
  &:before,
  &:after {
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    position: absolute; 
    content: " ";
    z-index: -1;
    right: 10px;
    left: 10px;
    bottom: 0;
    top: 50%;
  } 
  &:after {
    transform: skew(8deg) rotate(3deg);
    right: 10px; 
    left: auto;
  }
}
