@import './src/assets/styles/component_imports';

.cards {
  background-color: #eee;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  padding: 20px;
  top: 65px;
  bottom: 0;
  right: 0;
  left: 0;
  
  &.noCards {
    background-image: url('../../../assets/images/card-illustration.svg');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.filters {
  text-align: center;
  
  .filter-item {
    display: inline-block;
    label {
      background-color: $light-gray;
      display: inline-block;
      border-radius: 20px;
      line-height: 1.5em;
      padding: 2px 15px;
      color: #fff;
      margin: 5px;

      &:hover {
        background-color: $dark-gray;
      }
      
      &:after, &:before {
        content: none;
      }

      i.material-icons {
        margin-right: 10px;
        margin-top: -2px;
      }
    }
    
    input[type="checkbox"] {
      display: none;
    }
    
    input[type="checkbox"]:checked + label {
      background-color: $green;
      &:hover {
        background-color: darken($green, 10%);
      }
    }
  }
}

.alert {
  border-top: 1px solid $light-gray;
  text-align: center;
  padding-top: 50px;
  margin-top: 50px;
  i.fa {
    color: $light-gray;
    display: block;
  }
  .error-message {
    color: $dark-gray;
    font-size: 30px;
    display: block;
    font-weight: 100;
  }
}
