<app-navbar
  [(sortListBy)]="selectedOrder"
  [username]="inputUsername"
  (usernameChange)="loadUserRoute($event)"
  [api]="apiRatingLimit"
>
</app-navbar>
<div class="container-fluid cards" [class.noCards]="repositories.length === 0 && ! userExists()" (scroll)="onScroll($event)">
  <div class="row">
    <user-info [user]="user" *ngIf="userExists()"></user-info>

    <div class="alert" *ngIf="repositories.length === 0 && userExists()">
      <h2 class="error-message"><i class="fa fa-bug fa-3x"></i> Este usuário não tem repositórios favoritos.</h2>
    </div>
    <div class="filters" *ngIf="repositories.length > 0">
      <!-- toggle all -->
      <div class="filter-item">
        <input id="toggle_all" type="checkbox" [checked]="toggleAllLanguagesState" (change)="toggleAllLanguages()">
        <label for="toggle_all"><i class="material-icons left">filter_list</i> Tudo</label>
      </div>  
      <!-- languages -->
      <div class="filter-item" *ngFor="let key of languages | keys">
        <input [id]="'item_' + key" type="checkbox" [checked]="languages[key]" (change)="toggleLanguage(key)">
        <label [for]="'item_' + key">{{ key }}</label>
      </div>
    </div>

    <div class="col s12" *ngIf="repositories.length > 0">
      <p>Exibindo {{ filteredRepositories.length }} repositórios de {{ repositories.length }}</p>
    </div>

    <card-repository
      *ngFor="let repository of filteredRepositories | orderBy : selectedOrder : selectedOrder == 'name' ? 'asc' : 'desc'"
      [languageColor]="languageColors[repository.language]"
      [repository]="repository">
    </card-repository>

    <div class="col s12">
      <div class="section-preloader">
        <div class="preloader-wrapper small" [class.active]="isFetchingMoreStars">
          <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        <div *ngIf="nothingToLoad">Acabou! 😎</div>
      </div>
    </div>
  </div>
</div>
